/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.ButtonX-Nachrichtenverwaltung {
	
}

.LabelX-Nachrichtenverwaltung {
	margin-right: 31px;
	line-height: 20px;
}

#content_left { .
	width: auto;
	max-width: 270px;
	float: left;
}
/** 
*
*Styleschablone für Layoutbausteine
*/
body {
	background: #f3f3f3;
}

#wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	width: auto;
	border: 1px solid #ccc;
	background: #f3f3f3;
	padding-bottom: 30px;
}

#header {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #f3f3f3;
}

.gwt-MenuBar .gwt-MenuBar-vertical {
	margin-top: 5px;
}

#content {
	padding-left: 50px;
	padding-right: 50px;
}

#footer {
	/*Todo vervollständigen*/
}

/*Unterhaltung Nachrichten anzeigen **/
.NachrichtFlowPanel {
    background: #0A64BF;
    width: 480px;
    color: white;
    margin-bottom: 4px;
        padding: 5px;
    border: 1px solid #999;
    border-radius: 8px;
       
}
.NachrichtText {
font-size: 14px;
    margin-top: -3px;   
}


.NachrichtSenderName {
}


.NachrichtDatum {
   
}
.NachrichtButton {
    line-height: 12px;
    float: right;
    }

 
.NachrichtButton,.NachrichtDatum,.NachrichtSenderName {
   display:inline; 
   font-size: 11px;
}

.textAreaNachrichtSendenButton {
       height: 55px;
   
}
.textAreaNachrichtSenden{
       width: 417px;
    height: 55px;
    max-height: 100px;
}
.NachrichtSendeBtnWrap{
  
}


/** 
*
*Styleschablone für css-Klassen 
*/
.nachrichtBtn {
	/*Todo vervollständigen*/
	
}

.unterhaltungBtn {
	/*Todo vervollständigen*/
	
}

.aboverwaltungBtn {
	/*Todo vervollständigen*/
	
}

.profilBtn {
	/*Todo vervollständigen*/
}

/*Report CSS Settings*/

#wrap_report {
}

#header_report {
}

#header_report_left {
	float:left;
}

#header_report_right {
		float:right;
	
}

#content_report {
}

#footer{ }
	 