 

/** In dieser Datei sind CSS-Eigenschafen für die Appliaktion TellMe-Editor-Client und  TellMe-Report-Client definiert*/

/*
*-----------------------------------------------------------------------
* Überschriften Styles
*-----------------------------------------------------------------------
*/
h1 {
	font-size: 18px;
	font-weight: 100;
	color: #777777;
	/*margin: 40px 0px 70px;*/
	text-align: left;
}

h2 {
	width: 485px;
}

h3 {
	font-size: 13px;
}

.ueberschrift_report {
	font-size: 20px;
	line-height: 30px;
	padding-top: 15px;
}

.subtext_report {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 15px;
}

.report_inhalt{
	margin-right:10px;
}

.report_inhalt_volle_breite{
	padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background: #fff;
}

.report_kein_inhalt{
	background: #f3f3f3;
	color:red; 
	border: 1px solid #ccc;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:15px;
}

/*
*-----------------------------------------------------------------------
* Button Styles
*-----------------------------------------------------------------------
*/

.nutzerButtonPanel{
	margin-top:10px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

#closeButton {
	margin: 15px 6px 6px;
}

.xbtn {
	margin-top: -38px;
	height: 20px;
	float: right;
	padding: 0px;
}

.subBtnEmpfaenger {
	background: #505050;
}

.subBtnHashtag {
	background: #628CD5;
}

.neueNchrichtBtn, .btnUnterhaltungVerlassen, .btnTeilnehmerBearbeiten, .neueNchrichtBtn {
	background: #628cd5;
	color: #fff;
	font-size: 12px;
	border: none;
	height: 22px;
	min-width: 91px;
	margin-right: 1px;
	width: 100%;
}

.filterBtn {
	background: #628cd5;
	color: #fff;
	font-size: 12px;
	border: none;
	height: 22px;
	min-width: 91px;
	margin-right: 1px;
	width: 100%;
}

.filterBtn:hover {
	background: #ccc;
	color: #fff;
	font-size: 12px;
	border: none;
	height: 22px;
	min-width: 91px;
	margin-right: 1px;
	width: 100%;
}

.NachrichtButton {
	line-height: 12px;
	float: right;
}

.NachrichtButton, .NachrichtDatum, .NachrichtSenderName {
	display: inline;
	font-size: 11px;
}

.neueNchrichtBtn {
	float: right;
	width: 91px;
	height: 30px;
	margin-right: 10px;
	margin-top: 15px;
	width: 100%;
}

.subBtnHashtag, .subBtnEmpfaenger {
	color: #fff;
	font-size: 11px;
	border-top: 1px;
	margin-top: 2px;
	margin-right: 1px;
	margin-bottom: 1px;
}

.btnPositiv {
	background: green;
	margin-right: 15px;
}

.btnPositivBereitsAbooniert{
	background: grey;
	margin-right: 15px;
}

.btnNegativ {
	background: red;
}

.btnSpeichern{
 	background: #628cd5;
}

.btnNegativ, .btnPositiv, .btnSpeichern{
	height: 30px;
	width: 100%;
	border: none;
	color: #fff;
}

.btnPositiv:active {
}

.btnPositiv:hover {
 	background: #13f5b8;
}

.btnPositiv[disabled] {
	background: #f3f3f3;
    color: #ccc;
 }

.btnNegativ:hover {
 	background: #c28090;
}

.btnNegativ[disabled] {
    background: #f3f3f3;
    color: #ccc;
}

.btnAntworten:active, .neueNchrichtBtn:active, .btnTeilnehmerBearbeiten:active, btnUnterhaltungVerlassen:active {
	border: 1px inset #ccc;
}

.btnAntworten:hover, neueNchrichtBtn:hover, btnTeilnehmerBearbeiten:hover, btnUnterhaltungVerlassen:hover {
	border-color: #939393;
}

.btnAntworten[disabled], .neueNchrichtBtn[disabled], .btnTeilnehmerBearbeiten[disabled], .btnUnterhaltungVerlassen[disabled] {
	cursor: default;
	color: #888;
	background: #e7dfec;
}

.aktualisierenBtn {
	background: green;
	color: #fff;
	font-size: 12px;
	border: none;
	height: 30px;
	width: 91px;
	margin-right: 1px;
	margin-top: 15px;
}

.EmpfaengerPlusBtn {
	background: #505050;
	color: #fff;
	border: none;
	height: 30px;
	padding-top: 5px;
	width: 91px;
}

.HashtagPlusBtn {
	background: #628cd5;
	color: #fff;
	border: none;
	height: 30px;
	padding-top: 5px;
	width: 91px;
}

.NeuigkeitenDialogboxAbbrechenBtn {
	background: #c31c1c;
	color: #fff;
	border: none;
}

.ButtonX-Nachrichtenverwaltung {
	background: #505050;
	    color: #fff;
    border: 1px #f1f1f1 solid;
    line-height: 15px;
    font-size: 13px;
}
.ButtonX-Hashtagverwaltung{
	background: #628cd5;
	    color: #fff;
    border: 1px #f1f1f1 solid;
    line-height: 15px;
    font-size: 13px;
}

.NeuigkeitenDialogboxSendenBtn {
	width: 378px;
	background: #408233;
	color: #fff;
	border: none;
	height: 42px;
	margin-top: 15px;
	margin-left: -10px;
	margin-bottom: -10px;
	margin-right: -10px;
	font-size: 15px;
	padding-top: 4px;
}

.reportBtn {
    background: #628cd5;
    color: #fff;
    font-size: 12px;
    border: none;
    height: 22px;
    min-width: 91px;
    margin-right: 1px;
    width: 200px;
}

.HashtagPlusBtn {
    background: #628cd5;
    color: #fff;
}
.btnAnlegen{ 
	background: #000; color: #fff; 
	height: 30px;
    width: 100%;
    border: none;
}
     
.btnAnlegen:hover{ background: #ccc; color: #000; 
     }

/*
*-----------------------------------------------------------------------
* Layout-Id's Styles
*-----------------------------------------------------------------------
*/

#wrap_report {
	
}

#header_report {
	
}

#header_report_left {
	float: left;
}

#header_report_right {
	float: right;
}

#content_report {
	
}

#content_right {
	width: 688px;
	float: right;
	background: #fff;
	border-radius: 22px;
}

body {
	color: black;
	margin: 0px !Important;
	border: 0px;
	padding: 0px;
	background-image: url("balken.png") !Important;
	background-repeat: repeat-x !Important;
	height: 100% !Important;
	background: #f3f3f3 !Important;
}

html {
	height: 100%;
	background-repeat: repeat-x !Important;
}

#wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	width: auto;
	height:100%;
	min-height:1000px;
	padding-bottom: 30px;
}

#header {
	width: 100%;
}

#header .gwt-Image {
	width: 75px;
	padding: 5px;
	margin-top: 3px;
}

.gwt-DialogBox .dialogMiddleCenter {
	background: #F1F1F1 !Important;
}


.LabelX-Nachrichtenverwaltung {
	margin-right: 31px;
	line-height: 20px;
}

#content_left { .
	max-width: 252px;
	float: left;
	padding: 10px;
	padding-right: 0px;
}

#content {
	height: 100%;
	background: #fff;
	margin-top: 1px;
}

/*
*-----------------------------------------------------------------------
* GWT Dialogbox Styles
*-----------------------------------------------------------------------
*/

.gwt-DialogBox {
	width: 400px;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 0px !Important;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/*GWT Dialogbox Schließen Button*/



/*Hauptmenü-Styles*/

.mainmenu {
	float: right;
	outline: 0px;
	margin-top: 15px;
	margin-right: 15px;
}

.gwt-MenuItem {
	width: 96px;
	font-size: small;
	text-align: left;
}

.gwt-MenuItem-selected {
	width: 96px;
	font-size: small;
	text-align: left;
	background: #628cd5;
	color: white;
}

 

/*Vordefinierte GWT-Celllist Klasse*/
.GPBYFDEAG {
	width: 681px;
}


#ButtonBar table tbody tr td {
	
}

.selectionLabel {
	background: #f1f1f1;
	padding: 14px;
	font-size: 14px;
    width: 500px;
   	margin-bottom: 20px;
}

.hpOptionenButtonbar {
	min-height: 28px;
	width: 681px;
	background: #F0F0F0;
	border: 1px solid #ccc;
	color: #000;
	border-top: none;
	padding: 5px;
}

.hpOptionenButtonbar td {
	padding-right: 3px;
	margin-top: 5px;
}

.hpHeadline {
	width: 100%;
	padding-right: 9px;
	padding-top: 5px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.subline {
	padding-bottom: 0px;
	padding-top: 5px;
}

.celllistPanel {
	padding: 12px;
	width: 250px;
}

.dialogTop, .dialogTopCenter {
	font-size: 15px;
	line-height: 27px;
}

.dialogBottom {
	background: #408233;
}

.gwt-SuggestBox {
	width: 255px;
}

.dialogMiddleCenterInner .dialogContent {
	width: 360px;
}

.dialogtextArea {
	width: 350px;
	margin-top: 10px;
	margin-bottom: -1px;
}

.gwt-DialogBox .dialogContent {
	background: #F1F1F1;
	width: 356px;
	margin-top: 10px;
}

/*Vordefinierte GWT Klassen von CellList und CellTree*/
div.GPBYFDEFF.GPBYFDEKF.GPBYFDENF.GPBYFDELF {
	/*background: #f0f0f0;*/
}

div.GPBYFDEFF{	 
	
}

div.GPBYFDEFF.GPBYFDEHF {
	border: 1px solid #ccc;
}

.ladenImg{
	width: 75px; 
}

.ladenPanel{
	width: 400px; 
	margin-right: auto;
    margin-left: auto;
}

.ladenPanel h1,.ladenPanel h2, .ladenPanel h3  {
	padding-top: 0px;
    margin-top: -20px;
    text-align: center;
}

.ladenPanel td {
    text-align: center !Important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
    padding-bottom: 0px;
}

/*Hover Cellist
*/
.GPBYFDEPF {
	border: none !Important;
}

.GPBYFDENF {
	border: 1px #ccc solid !Important;
}

.gwt-MenuBar .gwt-MenuBar-vertical {
	margin-top: 5px;
}

/*Unterhaltung Nachrichten anzeigen **/
.NachrichtFlowPanel {
	background: #0A64BF;
	width: 480px;
	color: white;
	margin-bottom: 4px;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 8px;
}

.NachrichtText {
	font-size: 14px;
	margin-top: -3px;
}

/*Pagerpanel Celllist*/
.pagerStyleGrey {
	background: #d0d7e5;
}
.pagerStyleBlue {
	background: #e3e8f4;
}

.textAreaNachrichtSendenButton {
	height: 55px;
}

.textAreaNachrichtSenden {
	width: 417px;
	height: 55px;
	max-height: 100px;
}

.kopfZeileKoerper {
	background-color: #628cd5;
	color: white;
	height: 50px;
}

.reportkoerper {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
	padding: 15px;
	text-align: left;
}

.ergebnisZeileReport:nth-child(even) {
	background-color: #f2f2f2
}

.ergebnisZeileReport {
	border-top: 1px solid #ddd;
	height: 35px;
}

.reportkoerper:hover {
	background-color: #B0C4DE;
}

.reportTabelle {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
	padding: 15px;
	text-align: center;
}

.reportTabelle:hover {
	background-color: #B0C4DE;
}

.reportKopfzeile {
	background-color: #628cd5;
	color: white;
	height: 32px;
}

.kopfdatenbox_rechts {
	vertical-align: top;
}

.kopfdatenbox_rechts, .kopfdatenbox_links {
	vertical-align: top !Important;
}

.kopfdatenbox_links, .kopfdatenbox_rechts {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 15px;
	text-align: left
}

.kopfdatenbox_rechts h2 {
	font-size: 14px;
}

.kopfdatenbox_links, .kopfdatenbox_rechts {
	background-color: #B0C4DE;
}

.reportUebersichtPanel {
	width: 100%;
}

.reportUebersichtPanel h2 {
	width: 100%;
	padding: 5px;
}

.subline_report {
	margin-top: 35px;
	margin-bottom: 10px;
}

.reportUebersichtPanel td {
	width: 33%;
	padding: 5px;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	/* padding: 5px 10px; */
	vertical-align: middle !Important;
}

.vertical-box{
	padding:15px;
}

.top-margin{margin-top:15px !Important;}
.bezeichnungVornameTextBox, .bezeichnungNachnameTextBox{margin-top:10px;}

.Impressum{
	padding:15px;
	max-width: 328px;
}

.nutzerButtonPanel{margin-top:15px;}


}